<h1>Sign up</h1>



    <%= form_for(@relatedReviews) do |r| %>
      <%= r.label :usb %>
      <%= r.text_field :usb %>
	  <br>
	  <%= r.label :content %>
	  <%= r.text_area :content, :rows=>"10" %>
	  	  <br>


      <%= r.submit "Submit Review", class: "btn btn-primary" %>
    <% end %>