<h1>Sign up</h1>

<%= form_for(@product) do |r| %>
      <%= r.label :usb %>
      <%= r.text_field :usb %>
	  <br>
	  <%= r.label :name %>
	  <%= r.text_field :name %>
	  <br>
	  <%= r.label :brand %>
	  <%= r.text_field :brand %>
	
      <%= r.submit "Submit product", class: "btn btn-primary" %>
    <% end %>
<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
