<div class='container'>
<div class='center jumbotron'>
<h1>Listing products</h1>
</div>

<table>
  <thead>
    <tr>
      <th>USB</th>
	<th> Name </th>
		<th> Brand </th>
	<th> Created At </th>
	<th> Show </th>
	<th> Destroy </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.each do |product| %>
      <tr>
        <td><%= product.usb %></td> 
        <td><%= product.name %></td>
	 <td><%= product.brand %></td>
		<td><%= product.created_at %></td>
		<td><%= link_to 'Show', product %> </td>
		<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New product', new_product_path %>

</div>

